<div class="planet-detail" *ngIf="planet">
    <h2>{{ planet.properties.name }}</h2>
    <div class="detail-container">
      <div class="detail-item">
        <span class="detail-label">Diameter:</span>
        <span class="detail-value">{{ planet.properties.diameter }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Rotation Period:</span>
        <span class="detail-value">{{ planet.properties.rotation_period }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Orbital Period:</span>
        <span class="detail-value">{{ planet.properties.orbital_period }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Gravity:</span>
        <span class="detail-value">{{ planet.properties.gravity }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Population:</span>
        <span class="detail-value">{{ planet.properties.population }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Climate:</span>
        <span class="detail-value">{{ planet.properties.climate }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Terrain:</span>
        <span class="detail-value">{{ planet.properties.terrain }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Surface Water:</span>
        <span class="detail-value">{{ planet.properties.surface_water }}</span>
      </div>
      <div class="button-container">
        <button class="button" (click)="goBackToCharacterDetail()">Back to Character Detail</button>
      </div>
    </div>
  </div>
  