<!-- <div class="detail" *ngIf="detail">
    <h2>{{ detail.properties.name }}</h2>
    <div class="detail-container">
      <div class="detail-item description">
        <span class="detail-label">Description:</span>
        <span class="detail-value larger-text">{{ detail.description }}</span>
      </div>
      Add other detail items here
      <a (click)="goBackToParent()">Back to Parent</a>
    </div>
  </div>
   -->

   <div class="detail" *ngIf="character">
    <h2>{{ character.properties.name }}</h2>
    <div class="detail-container">
      <div class="detail-item description">
        <span class="detail-label">Description:</span>
        <span class="detail-value larger-text">{{ character.description }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Height:</span>
        <span class="detail-value">{{ character.properties.height }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Mass:</span>
        <span class="detail-value">{{ character.properties.mass }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Hair Color:</span>
        <span class="detail-value">{{ character.properties.hair_color }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Skin Color:</span>
        <span class="detail-value">{{ character.properties.skin_color }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Eye Color:</span>
        <span class="detail-value">{{ character.properties.eye_color }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Birth Year:</span>
        <span class="detail-value">{{ character.properties.birth_year }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Gender:</span>
        <span class="detail-value">{{ character.properties.gender }}</span>
      </div>
      <div class="button-container">
        <button class="button" (click)="goBackToCharacterList()">Back to Character List</button>
        <button class="button" (click)="goToPlanetDetail(character.properties.homeworld)">Planet Details</button>
      </div>
    </div>
  </div>
  
  <!-- Planet -->
  <div class="detail" *ngIf="planet">
    <h2>{{ planet.properties.name }}</h2>
    <div class="detail-container">
      <div class="detail-item">
        <span class="detail-label">Diameter:</span>
        <span class="detail-value">{{ planet.properties.diameter }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Rotation Period:</span>
        <span class="detail-value">{{ planet.properties.rotation_period }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Orbital Period:</span>
        <span class="detail-value">{{ planet.properties.orbital_period }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Gravity:</span>
        <span class="detail-value">{{ planet.properties.gravity }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Population:</span>
        <span class="detail-value">{{ planet.properties.population }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Climate:</span>
        <span class="detail-value">{{ planet.properties.climate }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Terrain:</span>
        <span class="detail-value">{{ planet.properties.terrain }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Surface Water:</span>
        <span class="detail-value">{{ planet.properties.surface_water }}</span>
      </div>
      <div class="button-container">
        <button class="button" (click)="goBackToCharacterDetail()">Back to Character Detail</button>
      </div>
    </div>
  </div>
  