<div class="detail" *ngIf="detail">
  <h2>{{ detail.properties.name }}</h2>
  <div class="detail-container">
    <div class="detail-item description">
      <span class="detail-label">Description:</span>
      <span class="detail-value larger-text">{{ detail.description }}</span>
    </div>

    <ng-container *ngFor="let field of detailFields[detailType]">
      <div class="detail-item">
        <span class="detail-label">{{ field.label }}:</span>
        <span class="detail-value">{{ detail.properties[field.property] }}</span>
      </div>
    </ng-container>
    
    <div class="button-container">
      <button 
        class="button" 
        (click)="goBackToParent()"
        *ngIf="detailType!='planets'"
        >
        Back to Character List
      </button>
      <button 
        class="button" 
        (click)="goBackToParent()"
        *ngIf="detailType==='planets'"
        >
        Back to Character Detail
      </button>
      <button
        *ngIf="detailType!='planets'"
        class="button"
        (click)="goToPlanetDetail(detail.properties.homeworld || '')"
      >
        Planet Details
      </button>
    </div>
  </div>
</div> 
