.character-list {
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--secondary-color);
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .character-item {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    transition: var(--white) 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--white);
      .character-name {
        color: var(--dark-gray); 
      }
    }

    .character-name {
      font-weight: bold;
      font-size: 18px;
      transition: color 0.3s ease; 
      color: var(--white);
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    span {
      color: var(--white);
    }

    .pagination-button {
      background-color: var(--primary-color);
      color: var(--white);
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--secondary-color);
      }

      &:disabled {
        background-color: var(--white);
        cursor: not-allowed;
        color: var(--dark-gray);
      }
    }

    .pagination-info {
      font-size: 16px;
      margin: 0 10px;
    }
  }
}
