/* global styles */

html, 
body {
    height: 100%;
}

:root {
  --primary-color: #e8b42e;
  --secondary-color: #dd8e2d;
  --white: #ececec;
  --dark-gray: #3c3b3b;
  --transparent-gray: #f9f9f97d;
}

body {
  margin: 0;
  background-image: url("/assets/background.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
